body {
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  background-color: transparent !important;
}

.btn-link {
  color: rgb(70, 70, 70) !important;
}

.jumbotron {
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.projectContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.credits a {
  color: rgb(70, 70, 70);
  text-decoration: underline;
}

.credits,
.credits p {
  position: fixed;
  height: 1rem;
  bottom: 0;
  width: 100%;
  color: #f2d2b6 !important;
  text-align: center !important;
  justify-content: center;
  z-index: -1;
  background-color: rgba(67, 101, 115, 0.25);
}
