* {
  font-family: 'Tienne', serif;
  color: #143840;
}

body {
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hide {
  display: none;
}

.nav {
  background-color: transparent !important;
  max-width: 75%; /* should match the width of your website content */
  display: flex;
  align-items: center; /* center each of our links vertically */
  margin: auto; /* center all our content horizontally when we exceed that max-width */
}

.logo {
  margin-right: auto !important; /* push all our links to the right side, leaving the logo on the left */
}

.modal-content {
  text-align: center;
}

.modal-header {
  background-color: #7d8c8b;
  color: #143840;
  border-bottom: none !important;
}

.modal-body {
  background-color: #7d8c8b;
  color: #143840;
}

.modal-body a {
  color: #f2d2b6;
}

.links {
  display: inline-block !important;
  color: #143840;
}

.dropdown-link-container > a {
  margin-left: 20px; /* space out all our links */
}

.mobile-dropdown-toggle {
  display: none; /* hide our hamburger button until we're on mobile */
}

.landingBlock {
  margin-top: 10%;
  margin-bottom: 15%;
}

.landingMargin {
  margin-bottom: 3rem;
}

.landingBlock h1 {
  font-size: 6rem;
  color: #143840;
}

.bioBlock {
  margin-top: 15%;
  margin-bottom: 12%;
}
.bioBlock h1 {
  font-size: 3rem;
}
.bioBlock p {
  font-size: 1.5rem;
}

.stackBlock {
  margin-top: 12%;
  margin-bottom: 15%;
}

.jumbotron {
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  height: 50%;
}

.filterIcon {
  cursor: pointer;
  height: 3rem;
  margin: 1rem;
  justify-content: center;
}

.compactCard {
  display: inline-flex;
  text-align: center;
  width: 40%;
  margin: 1%;
  cursor: pointer;
}

.expandedCard {
  display: inline-flex;
  text-align: center;
  height: auto;
  width: 75%;
  margin: 1%;
  justify-content: center;
  cursor: pointer;
}
.projectDetail {
  background-color: #7d8c8b;
  border-radius: 1rem;
  padding: 2rem;
}
.projectDetail p,
.projectDetail h5 {
  font-family: 'Montserrat', sans-serif;
}

.credits a {
  color: #7d8c8b;
  text-decoration: underline;
}

.credits,
.credits p {
  position: fixed;
  height: 1rem;
  bottom: 0;
  width: 100%;
  color: #f2d2b6 !important;
  text-align: center !important;
  justify-content: center;
  z-index: -1;
  background-color: rgba(67, 101, 115, 0.25);
  font-family: 'Montserrat', sans-serif;
}

/* Media Queries */
@media (max-width: 768px) {
  /* arbitrary breakpoint, around the size of a tablet */
  .logo,
  .mobile-dropdown-toggle {
    z-index: 2;
  }

  .mobile-dropdown-toggle {
    display: initial; /* override that display: none attribute from before */
  }
  .dropdown-link-container {
    /* first, make our dropdown cover the screen */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    /* fix nav height on mobile safari, where 100vh is a little off */
    height: -webkit-fill-available;

    /* add margins and padding to taste */
    margin: 0;
    padding-left: 7vw;
    padding-right: 7vw;

    backdrop-filter: blur(4px);
    z-index: 2; /* we're gonna avoid using -1 here, since it could position our navbar below other content on the page as well! */

    opacity: 0; /* fade out */
    transform: translateY(-100%); /* move out of view */
    transition: transform 0.2s, opacity 0.2s; /* transition these smoothly */
  }

  .dropdown-links {
    /* then, arrange our links top to bottom */
    display: flex;
    flex-direction: column;
    /* center links vertically and horizontally.
       this means our links will line up with the rightward hamburger button */
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: 25%;
    width: 100%;
    background-color: #f2d2b6;
    padding: 2rem;
  }

  .links {
    font-size: 2rem;
    font-weight: bold;
    color: #143840;
  }

  nav.dropdown-opened > .dropdown-link-container {
    opacity: 1; /* fade in */
    transform: translateY(0); /* move into view */
  }

  .landingBlock {
    margin-bottom: 5%;
  }
  .landingMargin {
    margin-bottom: 1rem;
  }
  .bioBlock {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .stackBlock {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .headshot {
    max-width: 40%;
  }

  .mediaQuery {
    width: 100% !important;
    background-color: #f2d2b6;
  }
  .mobileHide {
    display: none;
  }
  body {
    background-image: none;
    color: #143840;
    background-color: #f2d2b6 !important;
  }
}
