body {
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  background-color: transparent !important;
}

.btn-link {
  color: rgb(70, 70, 70) !important;
}

.landingBlock {
  margin-top: 10%;
  margin-bottom: 15%;
}

.stack {
  margin-bottom: 10%;
}

.jumbotron {
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  height: 50%;
}

.compactCard {
  display: inline-flex;
  text-align: center;
  width: 40%;
  margin: 1%;
  cursor: pointer;
}

.expandedCard {
  display: inline-flex;
  text-align: center;
  height: auto;
  width: 75%;
  margin: 1%;
  justify-content: center;
  cursor: pointer;
}

.credits a {
  color: rgb(70, 70, 70);
  text-decoration: underline;
}

.credits,
.credits p {
  position: fixed;
  height: 1rem;
  bottom: 0;
  width: 100%;
  color: #f2d2b6 !important;
  text-align: center !important;
  justify-content: center;
  z-index: -1;
  background-color: rgba(67, 101, 115, 0.25);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .mediaQuery {
    width: 100% !important;
    background-color: rgba(191, 178, 163, 1);
  }
}
